/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  background-image: var(--bg-img);
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  align-items: center;
  font-variation-settings: "wght" var(--text-card, 400);
}

.header {
  inline-size: var(--width-page);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--accent-font);
  margin: 100px 0;
  gap: 20px;
  border: var(--border);
  background-color: #fff;
  block-size: clamp(20.438rem, 19.535rem + 3.81vi, 23rem);
}

.header__title {
  font-family: var(--accent-font);
  font-size: clamp(3.063rem, 2.71rem + 2.502vw, 4.063rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  margin-block-start: 131px;
}

.header__subtitle {
  font-size: clamp(0.875rem, 1.677rem + 0.845vw, 1.438rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

/* main  */
.content {
  width: var(--width-page);
  display: flex;
  flex-direction: column;
}

.card {
  margin-block-end: 50px;
}

.card__title {
  background-color: #fff;
  border: var(--border);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  padding: 5px 10px;
  font-variation-settings: "wght" var(--text-title, 700);
}

.card__image {
  aspect-ratio: 1/1;
  display: flex;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card__image-watermark {
  color: #000;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  width: var(--width-page);
  opacity: 0.5;
  text-shadow: none;
  mix-blend-mode: hard-light;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #fff;
  font-family: var(--accent-font);
  margin-block-start: 27px;
  padding-right: 27px;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__image-watermark {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}

.card__container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: var(--border);
  border-block-start: none;
  gap: 25px;
  padding: 25px;
}

.card__text {
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  font-variation-settings: "wght" var(--text-card, 400);
}

.button {
  transition: box-shadow 0.3s ease;
}

.card__button {
  display: flex;
  justify-content: end;
  margin-block-start: 4px;
  align-items: center;
}

.card__icon-button {
  border: none;
  background-color: #fff;
  block-size: 36px;
}

.card__like-button {
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  border: var(--border);
  block-size: 38px;
  width: 130px;
  background-color: #fff;
  position: relative;
}

.button__text {
  color: #fff;
  mix-blend-mode: difference;
  z-index: 1;
}

.save__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save__button {
  block-size: 55px;
  inline-size: 335px;
  gap: 4px;
  border: var(--border);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-block-end: 100px;
  position: relative;
  background-color: #fff;
}

.button__text-save {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  font-family: var(--accent-font);
}

/* Диалог */

.button__text {
  outline: none;
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.size__text {
  margin-inline-end: 14px;
}

.floppy__disket {
  inline-size: 29px;
  block-size: 34px;
  padding-top: 6px;
  mix-blend-mode: difference;
  z-index: 1;
}

.floppy__icon {
  block-size: 40px;
  inline-size: 40px;
}

.modal__container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.button__text-window {
  inline-size: 239px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  font-family: var(--accent-font);
}

.modal__button {
  block-size: 38px;
  inline-size: 100%;
  border: var(--border);
  background-color: #fff;
}

.modal__form {
  padding-top: 30px;
}

.modal {
  border: 2px solid var(--accent-color, #000);
  padding: 30px;
  background-color: #fff;
  inline-size: 357px;
}

.modal[open] {
  display: flex;
  padding: 30px;
  flex-direction: column;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

/* Фильтры */
.card__image-grayscale {
  filter: grayscale(1);
}

.card__image-contrast {
  filter: brightness(250%) contrast(150%);
}

.card__image-saturate {
  filter: saturate(25%);
}

.card__image-sepia {
  filter: sepia(150%);
}

.card__image-invert {
  filter: invert(0.7);
}

.card__image-blur {
  filter: blur(0.15rem);
}

.card__image-rotate {
  filter: contrast(200%) hue-rotate(-90deg);
}

@media (width <= 375px) {
  .header__title {
    font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    margin-block-start: 121px;
  }

  .header__subtitle {
    font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  }

  .card__image-watermark {
    margin-block-start: 21px;
    padding-right: 13px;
  }

  .content {
    align-items: normal;
  }

  .save__button {
    flex-direction: column;
    gap: 1px;
    margin-inline-start: 33px;
    inline-size: 311px;
    height: 84px;
  }

  .floppy__disket {
    width: 41px;
    height: 45px;
  }

  .size__text {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .floppy__icon {
    block-size: 40px;
    inline-size: 40px;
  }

  .save__container {
    align-items: normal;
  }
}
